@import url('https://fonts.googleapis.com/css?family=Cabin:700|Montserrat:400');

:root {
	--text: #1a1c16;
	--background: #fcf9f6;
	--border: #dcd9d7;
	--primary: #bcc2ae;
	--secondary: #e0e0d6;
	--accent: #b3c3bf;
	--error: #ffdad6;
}

html,
body {
	margin: 0;
	max-height: 100%;
	padding: 0;
	box-sizing: border-box;

	background-color: var(--background);
}

body {
	font-family: 'Montserrat';
	font-weight: 400;
}

main {
	margin: 0 138px;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: 'Cabin';
	font-weight: 700;
}

html {
	font-size: 100%;
} /* 16px */

h1 {
	font-size: 4.21rem; /* 67.36px */
}

h2 {
	font-size: 3.158rem; /* 50.56px */
}

h3 {
	font-size: 2.369rem; /* 37.92px */
}

h4 {
	font-size: 1.777rem; /* 28.48px */
}

h5 {
	font-size: 1.333rem; /* 21.28px */
}

small {
	font-size: 0.75rem; /* 12px */
}
